[Desktop Entry]
Encoding=UTF-8
Name=Cryptonote Wallet
Comment=Cryptonote wallet
Exec=cryptonotewallet %U
Terminal=false
Type=Application
Icon=cryptonote
MimeType=x-scheme-handler/cryptonote;
Categories=Office;Finance;
